{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Confirmação| {{ block.super }}{% endblock %}

{% block container %}

<div class="jumbotron page-header">
	<h1>Confirmação</h1>
	<p>Texto declarando que atende a legislação. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  <p class="text-right">
  <a href="{% url 'checkout:cart_item' %}" class="pull-left btn btn-default">Voltar</a>
  <a href="{% url 'checkout:checkout' %}" class="btn btn-success">Aceitar e Finalizar Pedido</a>
  </p>
</div>
<h5 style=""><b>ATENÇÃO:</b></h5>
<h5 style=""><b>Certifique-se de ter clicado em ATUALIZAR QUANTIDADES.</b></h5>
<h5 style=""><b>Após finalizado, o pedido não poderá ser alterado.</b></h5>
{% endblock %}
