{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Lista de usuarios | {{ block.super }}{% endblock %}

{% block container %}
<div class="page-header">
  <h3>Produtos</h3>
</div>
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>Ativo</th>
                  <th>Editar</th>
                </thead>
                <tbody>
                  {% for user in users  %}
                      <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_active }}</td>
                        <td>
                          <a href="#">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
      </div>
{% endblock %}
