<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sistema de Almoxarifado - CES/UFCG</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">SisAlmox</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'catalog:index' %}">Requisição de Material</a></li>
            <li><a href="{% url 'contact' %}">Contato</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Minha Conta <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'checkout:order_list' %}">Meus Pedidos</a></li>
                <li><a href="{% url 'accounts:password_change' %}">Alterar Senha</a></li>
                <li><a href="{% url 'accounts:update_user' %}">Atualizar Dados</a></li>
              </ul>
            </li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block container %}{% endblock %}
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
      <p class="navbar-text pull-left"><a href="{% url 'index' %}">Início</a></p>
      <p class="navbar-text pull-left"><a href="{% url 'contact' %}">Contato</a></p>
      <p class="navbar-text pull-left"><a href="{% url 'laws' %}">Legislação</a></p>
      <p class="navbar-text pull-right"><a href="#top">Voltar ao Topo</a></p>
    </div>

  </body>
</html>
