{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
  Contato | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>Contato</h1>
  <h2>Divisão de Materiais CES/UFCG</h2>
  <p>
    <h3>Funcionários</h3>
    <h4>Israel da Silva Araújo</h4>
    <h4>Rebeca Honorato Neiva</h4>
    <h4>Mayara Patricia Silva da Costa</h4>
  </p>
  <p>
    <h3>Telefone</h3>
    <h4>(83) 3372 1927</h4>
  </p>
  <p>
    <h3>E-mail</h3>
    <h4>divmat.ces@gmail.com</h4>
  </p>
</div>
{% endblock %}
