{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
  Contato | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>Contato</h1>
  <h2>Almoxarifado CES/UFCG</h2>
  <p>
    <h3>Funcionários</h3>
    <h4>Jeancarlo Meira de Melo</h4>
    <h4>Thiago Augusto dos Santos Ferreira</h4>
    <h4>José Eudes de Macêdo Dantas</h4>
  </p>
  <p>
    <h3>Telefone</h3>
    <h4>(83) 3372 1912</h4>
  </p>
  <p>
    <h3>E-mail</h3>
    <h4>amoxarifado.ces@ufcg.edu.br</h4>
  </p>
  <p>
    <h3>Endereço</h3>
    <h4>Acesso Maria Anita Furtado Coelho, sn</h4>
    <h4>Olho D'água da Bica, Cuité-PB</h4>
    <h4>CEP: 58.175-000</h4>
  </p>
  <p>
    <h3>Expediente</h3>
    <h4>de segunda a sexta das 7h00 às 12h00 e das 13h30 às 17h00</h4>
  </p>
</div>
{% endblock %}
