{% extends "base.html" %}

{% block title %}
  {{ product }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{{ product }}</h1>
</div>
<div class="row">
  <div class="col-sm-8">
    <dl>
      {{ product.description|linebreaks }}
    </dl>
    <label>Código Comprasnet: </label>
      {{ product.codigo }}
    </p>
    <label>Unidade: </label>
      <font color="#0000FF"> <b>{{ product.unid }}</b> </font>
    </p>
    <label>Última aquisição: </label>
      {{ product.pregao }}
    </p>
    <label>Preço de referência da última aquisição: </label>
      R$ {{ product.price }}
    </p>
    <p class="text-right">
      <a href="{% url 'checkout:add_cart' product.slug %}" class="btn btn-success">Adicionar ao Pedido</a>     

    </p>
  </div>
</div>
{% endblock %}
